ul {
  list-style-type: none;
  margin: 0;

  padding: 0;
  overflow: hidden;
    border color: red
}

li {
  float: left;
  width: 100%




}

li a {
  display: block;
  padding: 8px;
  background-color: darkblue;
  text-decoration-color: orange;
  color: gold;


}


li :hover {
  background-color: red;
}


body {
background-color:  darkorange;
text-align: center;
}

h1 {
  text-align: center;
}
